<div *ngIf="cartItems.length > 0; else emptyCart ">
  <div class="cart-container">
    <div class="cart-item" *ngFor="let item of cartItems">
      <button style="float: right"
        mat-icon-button
        (click)="deleteProductFromCart(item.productId,item.size)">
        <mat-icon>delete</mat-icon>
      </button>
      <div class="product-info">
        <div class="product-image">
          <img [src]="item.processedImg" alt="product-image">
        </div>
        <div class="product-details">
          <div class="item-row">
            <div class="item-name" [ngClass]="{ 'highlight' : item.highlighted }">
              {{item.productName}}

            </div>
            <div class="item-price">
              {{item.price |currency}}

            </div>
            <div class="item-price">
              {{item.size }}

            </div>
            <div class="quality-controls">
              <button mat-icon-button [disabled]="item.quantity ==1" (click)="decreaseQuantity(item.productId,item.size)" >
                <mat-icon>
                  remove_circle_outline
                </mat-icon>

              </button>
              <span class="quantity">{{ item.quantity }}</span>
              <button mat-icon-button (click)="increaseQuantity(item.productId,item.size)">
                <mat-icon>
                  add_circle_outline
                </mat-icon>
              </button>
            </div>
          </div>


        </div>
      </div>

    </div>

    <div class="total-price">
      TotalAmount: {{order.totalAmount | currency}}

    </div>
    <div class="total-price">
      Amount: {{order.amount | currency}}

    </div>
    <div class="total-price">
      Coupon Applied:  {{order.couponName}}

    </div>

    <div>
      <button  class="pay-cash-button" (click)="openPayByCash()">
        Pay when delivery
      </button>

      <button class="paypal-checkout-button" (click)="checkoutByPayPal()" >
        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal" >
      </button>
    </div>
  </div>
  <div class="container" *ngIf="order.couponName==null">
    <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Code</mat-label>
        <input matInput type="text" placeholder="Code" formControlName="code">
        <mat-error *ngIf="couponForm.get('code')?.hasError('required')">
          This input is required
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Apply Coupon</button>

    </form>
  </div>
</div>
<ng-template #emptyCart>
  <div class="empty-cart">
    <mat-icon class="icon">
      remove_shopping_cart
    </mat-icon>

    <span>Your cart is empty.</span>

    <button mat-raised-button color="primary" [routerLink]="'/customer/dashboard'">Shop Now</button>
  </div>
</ng-template>
