  <div *ngFor="let product of products">
    <div class="product-container">
      <img [src]="product.processedImg" alt="{{ product.name }}" class="product-image"/>
      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <p>Price: ${{ product.price }}</p>
        <form [formGroup]="reviewForm" (ngSubmit)="submitReview(product.id)">
          <!-- Star Rating -->
          <input type="hidden" formControlName="starRating" /> <!-- Add a hidden input for starRating -->
          <div class="review-stars">
            <span *ngFor="let _ of [1, 2, 3, 4, 5]" class="star" [class.filled]="reviewForm.get('starRating')?.value >= _" (click)="setStar(product, _)">&#9733;</span>

          </div>

          <!-- Comment -->
          <label for="comment">Comment:</label>
          <textarea id="comment" formControlName="reviewComment"></textarea>

          <!-- Submit Button -->
          <button type="submit" [disabled]="!reviewForm.valid">Submit Review</button>
        </form>

      </div>
    </div>

  </div>
  <div *ngIf="products.length === 0" class="reviews-message">
    <p> You have already reviewed this product in this order.</p>
    <a [routerLink]="['/customer/review']">Click this review your review</a>
  </div>
