<div class="container" >
  <mat-card>
    <mat-card-content>

      <table mat-table [dataSource]="coupons" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Coupon ID</th>
          <td mat-cell *matCellDef="let coupon" class="bold-cell">{{ coupon.id }}</td>
        </ng-container>
        <ng-container matColumnDef="couponName">
          <th mat-header-cell *matHeaderCellDef>Coupon Name</th>
          <td mat-cell *matCellDef="let coupon" class="bold-cell">{{ coupon.couponName }}</td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Discount</th>
          <td mat-cell *matCellDef="let coupon" class="bold-cell">{{ coupon.code }}</td>
        </ng-container>
        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef>Discount</th>
          <td mat-cell *matCellDef="let coupon" class="bold-cell">{{ coupon.discount }}%</td>
        </ng-container>
        <ng-container matColumnDef="expiredDate">
          <th mat-header-cell *matHeaderCellDef>Expired Date</th>
          <td mat-cell *matCellDef="let coupon" class="bold-cell">{{ coupon.expiredDate | date:'dd/MM/yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="action">

          <th mat-header-cell *matHeaderCellDef>
            Action
          </th>
          <td mat-cell *matCellDef="let coupon">
            <button mat-raised-button color="primary" class="action-button" (click)="updateCoupon(coupon)">
              Edit Coupon
            </button>
            <button mat-raised-button color="warn" class="action-button" (click)="deleteCoupon(coupon.id)">
              Delete Coupon
            </button>


          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id', 'couponName', 'code', 'discount', 'expiredDate', 'action']"></tr>
        <tr mat-row *matRowDef="let row; columns:['id', 'couponName', 'code', 'discount', 'expiredDate', 'action']"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
