.container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
mat-card{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
table{
  width: 100%;
}
th.mat-header-cell{
  font-weight: bolder;
  color: #2f3a87;
  padding: 10px;
}
td.bold-cell{
  font-weight: bold;
}
.mat-elevation-z8{
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.mat-row:hover{
  background-color: whitesmoke;
}
mat-header-row{
  color: aliceblue;
}
.mat-paginator{
  color: aliceblue;
  border-radius: 0 0 10px 10px ;
  margin-top: 16px;
}




