.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .search-input {
    width: 300px;
    margin-right: 15px;

    input {
      padding-right: 40px;
    }

    button {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}


.empty-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  span{
    font-size: 18px;
    color: darkgray;
    margin-top: 10px;
  }
}


/* Product List Styles */

.product-list {
  display: flex;
  flex-wrap: wrap; /* Allow products to wrap to the next row */
  justify-content: space-evenly;
}

.product-card {
  width: 30%; /* Set width to fit 3 products in a row */
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  flex-grow: 0;
  flex-shrink: 0; /* Prevent flex items from shrinking */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
/* Image Styles */

.product-image {
  height: 200px;
  overflow: hidden;
  background-color: #f0f0f0; /* Set background color to fill the white space */
}
.product-image img {
  width: 100%;
  height: 100%; /* Ensure the image covers the entire .product-image div */
  object-fit: contain; /* Maintain aspect ratio and fit the entire image within the div */
}
/* Details Styles */

.product-details {
  padding: 20px;
}

.product-name {
  font-size: 1.2em;
  font-weight: bold;
}

.product-description {
  font-size: 1em;
  color: #666;
}

.product-price {
  font-size: 1.3em;
  color: #0077ff;
}

.info-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  margin-right: 6px;
}

.info-value {
  flex: 1;
}
/* Button Styling */

.button {
  background: #0077ff;
  color: white;
  padding: 12px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover {
  background: #0066cc;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .mat-raised-button {
    margin: 0 5px;
    min-width: 36px;
    height: 36px;
    font-size: 14px;
  }

  .mat-raised-button.mat-primary {
    background-color: #007bff;
    color: white;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #b3c2cf;
      color: #ffffff;
    }
  }
}
.product-sizes {
  margin-top: 16px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 10px;

  h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #007bff;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;

    span {
      font-weight: bold;
      margin-right: 8px;
      color: #6c757d;
    }

    &:hover {
      background-color: #f8f9fa;
    }
  }
}
