.container {
  max-width: 600px;
  margin: 0 auto;
}

.user-profile {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  height: auto;
  display: ruby;

  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      color: #333;
      font-size: 24px;
    }

    .profile-actions {
      button.edit-button {
        background-color: #3498db;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #2980b9;
        }
      }
    }
  }

  .profile-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .user-avatar {
      img {
        border-radius: 50%;
        max-width: 250px;
      }
    }

    .user-info {
      margin-left: 20px;

      div {
        margin-bottom: 8px;
        font-size: 16px;

        strong {
          font-weight: bold;
          margin-right: 8px;
        }
      }
    }
  }

  .change-password-form {
    form {
      div {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px; /* Increased margin for better separation */

        label {
          margin-bottom: 8px; /* Slightly increased margin for better spacing */
        }

        .password-input-container {
          position: relative;

          input {
            padding: 10px;
            border: 1px solid #ccc; /* Added a border for better input distinction */
            border-radius: 5px; /* Rounded corners for a softer look */
            margin-bottom: 8px; /* Improved spacing between input and button */
            width: calc(100% - 22px); /* Adjusted width for better alignment */
          }

          button {
            position: absolute;
            top: 10%;
            right: 0px; /* Adjusted right position for better alignment */
            transform: translateY(-50%);
            cursor: pointer;
            background-color: #6c757d; /* Green button color */

            border: none; /* Removed border for a cleaner look */

            padding: 8px 12px; /* Increased padding for a more clickable area */
          }
        }
      }

      button {
        margin-top: 15px; /* Adjusted margin for better spacing */
        background-color: lightskyblue; /* Blue button color for consistency */
        color: white; /* White text for better contrast */
        border: none; /* Removed border for a cleaner look */
        border-radius: 5px; /* Rounded corners for a softer look */
        padding: 10px 15px; /* Increased padding for a more clickable area */
        cursor: pointer;
        transition: background-color 0.3s ease; /* Smooth transition on hover */

        &:hover {
          background-color: #0056b3; /* Darker blue on hover for feedback */
        }
      }
    }
  }


  .edit-form {
    form {
      .user-avatar {
        margin-bottom: 20px;

        img {
          border-radius: 50%;
          max-width: 200px;
        }
      }

      label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
      }

      .avatar-input-container {
        margin: 0 auto; /* Center the container */
        text-align: center; /* Center the content inside the container */
        margin-bottom: 16px;

        label {
          display: block;
          margin-bottom: 8px;
          font-weight: bold;
        }

        input[type="file"] {
          width: 100%;
          padding: 10px;
          margin-bottom: 8px;
          border: 1px solid #ddd;
          border-radius: 4px;
          box-sizing: border-box;
        }

        button {
          background-color: red;
          display: inline-block; /* Display as inline-block to center the button */
          color: #fff;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
          margin-top: 8px;
          align-items: center;

          &:hover {
            background-color: #c0392b;
          }
        }
      }

      button {
        background-color: #4caf50;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #45a049;
        }

        & + button {
          margin-left: 10px;
          background-color: #e74c3c;

          &:hover {
            background-color: #c0392b;
          }
        }
      }
    }
  }

  .loading-message {
    p {
      font-size: 18px;
      color: #333;
    }
  }
}

