<div class="back-button">
  <button mat-icon-button color="primary" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="product-list">

  <mat-card class="product-card" *ngIf="product">
    <div class="product-image">
      <img [src]="currentMainImage || product.processedImg" alt="product-image">
    </div>

    <div class="product-details">
      <h2 class="product-name" >{{ product.name }}</h2>
      <p class="product-description">{{product.description}}</p>

      <div class="product-info">
        <div class="info-row">
            <span class="info-label">
              Price:
            </span>
          <span class="info-value">
         {{product.price | currency}}
            </span>
        </div>

        <div class="info-row">
            <span class="info-label">
              Category Name:
            </span>
          <span class="info-value">
         {{product.categoryName}}
            </span>
        </div>
      </div>
      <div class="product-sizes">
        <mat-label>Select Size:</mat-label>
        <mat-select [(ngModel)]="selectedSize">
          <ng-container *ngFor="let size of product.productSizes">
            <mat-option [value]="size.size" [disabled]="size.quantity === 0">{{ size.size }}</mat-option>
          </ng-container>
        </mat-select>
        <div class="product-images">
          <div class="additional-images" *ngIf="product.byteImages && product.byteImages.length > 0">
            <h3>Additional Images:</h3>
            <div class="additional-image" *ngFor="let img of product.byteImages">
              <img [src]="img" alt="additional-image" (click)="setMainImage(img)">
            </div>
            <div class="additional-image">
              <img [src]="product.processedImg" alt="additional-image" (click)="setMainImage(product.processedImg)">
            </div>
          </div>
        </div>
      </div>



      <div class="actions">

        <button mat-raised-button color="accent" class="cart-button" (click)="addToCart(product.id,selectedSize)" >
          Add to cart
        </button>
      </div>

    </div>
  </mat-card>

</div>

<div class="product-reviews">
  <h3>Product Reviews</h3>
  <div *ngFor="let review of reviews" class="review-item">
    <span class="review-username"> {{ review.username }}</span>
    <div class="review-info">

      <img src="{{'data:image/jpeg;base64,'+ review.avatar }}" alt="user avatar" class="user-avatar">

      <div class="star-rating">
        <!-- Display stars based on starArray -->
        Rating:
        <span *ngFor="let star of createStarArray(review.star)" class="star">&#9733;</span>
      </div>
    </div>
    <p class="review-comment">   {{ review.comment }}</p>
  </div>

</div>
<div *ngIf="reviews.length === 0" class="no-reviews-message">
  <p>No reviews yet.</p>
</div>
