.product-list {
  display: flex;
  justify-content: center;
  padding: 20px; /* Adjusted padding */
  margin: 0; /* Remove any default margins */

  /* ... Other styles remain the same */


  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px; /* Set a maximum width for the card */
    width: 100%; /* Take up 100% of the available width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased box-shadow */
    margin: 0 10px;
    .product-image {
      img {
        width: 100%;
        height: auto;
      }
    }

    .product-details {
      padding: 30px; /* Increased padding */
      text-align: center;

      .product-name {
        font-size: 2rem; /* Increased font size */
        font-weight: bold;
        margin-bottom: 15px; /* Increased margin */
      }

      .product-description {
        margin-bottom: 20px; /* Increased margin */
        color: #333;
      }

      .product-info {
        margin-bottom: 20px; /* Increased margin */

        .info-row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px; /* Increased margin */

          .info-label {
            font-weight: bold;
            color: #555;
          }

          .info-value {
            color: #da0202;
          }
        }
      }

      .product-sizes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px; /* Increased margin */

        .product-images {
          .additional-images {
            margin-top: 20px; /* Increased margin */

            h3 {
              font-size: 1.5rem; /* Increased font size */
              margin-bottom: 15px; /* Increased margin */
              color: #da0202;
            }

            .additional-image {
              margin-bottom: 15px; /* Increased margin */

              img {
                width: 100px; /* Increased image width */
                height: auto;
                cursor: pointer;
                border: 2px solid #da0202;
                border-radius: 4px;
              }
            }
          }
        }
      }

      .actions {
        .cart-button {
          background-color: #da0202;
          color: #fff;
          font-size: 1.2rem; /* Increased font size */
          padding: 15px 30px; /* Increased padding */
          border: none;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background-color: #ff3c3c;
          }
        }
      }
    }
  }
}
