<mat-form-field>
  <mat-label for="orderStatusFilter">Filter by Order Status</mat-label>
  <mat-select id="orderStatusFilter" [(ngModel)]="orderStatusFilter" (ngModelChange)="onStatusFilterChange()">
    <mat-option value="">All</mat-option>
    <mat-option *ngFor="let status of orderStatusOptions" [value]="status">{{ status }}</mat-option>
  </mat-select>
</mat-form-field>


<div class="container">
  <mat-card>
    <mat-card-content>
      <table mat-table [dataSource]="orders" class="mat-elevation-z8">
        <ng-container matColumnDef="trackingId">
          <th mat-header-cell *matHeaderCellDef>Tracking ID</th>
          <td mat-cell *matCellDef="let order">{{order.trackingId}}</td>

        </ng-container>
        <ng-container matColumnDef="carts">
          <th mat-header-cell *matHeaderCellDef>Cart Items</th>
          <td mat-cell *matCellDef="let order">
            <div *ngFor="let cartItem of order.carts" class="cart-item-details">
              <div class="product-info">
                <div class="product-name">{{ cartItem.productName }}</div>
                <div class="product-quantity">Quantity: {{ cartItem.quantity }}</div>
              </div>

              <div class="product-image">
                <img [src]="'data:image/jpeg;base64,' + cartItem.img" alt="Product Image">
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let order">{{order.username}}</td>


        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let order">{{order.amount}}</td>


        </ng-container>
        <ng-container matColumnDef="orderDescription">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let order">{{order.orderDescription}}</td>


        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let order">{{order.address}}</td>


        </ng-container>
        <ng-container matColumnDef="orderStatus">
          <th mat-header-cell *matHeaderCellDef>status</th>
          <td mat-cell *matCellDef="let order">{{order.orderStatus}}</td>


        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Order Date</th>
          <td mat-cell *matCellDef="let order">{{order.date | date:'dd/MM/yyyy'}}</td>


        </ng-container>
        <ng-container matColumnDef="delivery">
          <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
          <td mat-cell *matCellDef="let order">
            <span *ngIf="order.deliveriedDate !== null">{{ order.deliveriedDate | date:'dd/MM/yyyy' }}</span>
            <span *ngIf="order.deliveriedDate === null">Not delivered yet</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="payed">
          <th mat-header-cell *matHeaderCellDef>Is Payed</th>
          <td mat-cell *matCellDef="let order">{{ order.payed ? 'PAYED' : 'NOT YET' }}</td>


        </ng-container>
        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef>Payment Method</th>
          <td mat-cell *matCellDef="let order">{{order.payment}}</td>


        </ng-container>
        <ng-container matColumnDef="action">

          <th mat-header-cell *matHeaderCellDef>
            Action
          </th>
          <td mat-cell *matCellDef="let order">
            <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" *ngIf="order.orderStatus !== 'DELIVERED'">
              Action
              <mat-menu #menu="matMenu">
        <span>
          <button mat-menu-item (click)="changeOrderStatus(order.id,'SHIPPED')">SHIPPED</button>
        </span>
                <span>
          <button mat-menu-item (click)="changeOrderStatus(order.id,'DELIVERED')">DELIVERED</button>
        </span>

              </mat-menu>
            </button>
          </td>


        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="['trackingId', 'carts' , 'username', 'amount', 'orderDescription', 'address', 'orderStatus' , 'date', 'delivery' , 'payed' , 'payment' , 'action' ]"></tr>
        <tr mat-row
            *matRowDef="let row; columns:['trackingId', 'carts', 'username', 'amount', 'orderDescription', 'address', 'orderStatus' , 'date', 'delivery' , 'payed' , 'payment' , 'action' ]"></tr>
      </table>
    </mat-card-content>
    <div class="pagination" *ngIf=" orders.length > 0">
      <button mat-button color="primary" [disabled]="currentPage <= 0" (click)="onPageChange(currentPage - 1)">
        Previous
      </button>
      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
      <button mat-button color="primary" [disabled]="currentPage === totalPages - 1"
              (click)="onPageChange(currentPage + 1)">
        Next
      </button>
    </div>
  </mat-card>

</div>
