.container{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top:90px;
  h2{
    text-align: center;
    margin-bottom: 20px;
    color:#3f51b5
  }
  form{
    display: flex;
    flex-direction: column;
    mat mat-form-field {
      margin-bottom: 20px;

      mat-form-field-wrapper {
        border-radius: 4px;
        border: 1px solid #ccc;
      }

      mat-form-field-outline {
        border-width: 1px;
      }

      mat-input-element {
        color: #3f51b5;
      }
    }
    button{
      align-self: center;
    }
  }
}
@media screen and (max-width: 500px){
  .container{
    padding:10px;
  }
  form{
    mat-form-field{
      margin-bottom: 10px;
    }
  }
}
