.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.navbar-brand {
  font-size: 20px;
  font-weight: 600;
  margin-right: 16px;
}
.spacer {
  flex: 1;
}
button {
  color: white;
  text-transform: uppercase;
  margin-left: 8px;
}
button.active {
  font-weight: 600
}
.customer-toolbar{
  background-color: crimson;
}
